trigger:
  branches:
    include:
      - main

pool:
  name: LocalPool

variables:
  buildConfiguration: 'Release'

steps:
- checkout: self
  persistCredentials: true

- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '9.0.x'

- script: |
    echo "游댃 Restaurando dependencias..."
    dotnet restore
  displayName: 'Restore'

- script: |
    echo "游댢 Compilando proyecto..."
    dotnet build --configuration $(buildConfiguration)
  displayName: 'Build'

- script: |
    echo "游닍 Aplicando migraciones..."
    dotnet ef database update --project TestProjectCore.csproj --startup-project TestProjectCore.csproj
  displayName: 'EF Core Update'

- script: |
    echo "游 Publicando aplicaci칩n..."
    dotnet publish -c $(buildConfiguration) -o $(Build.ArtifactStagingDirectory)
  displayName: 'Publish'

- script: |
    echo "La pipeline se ejecut칩 e : $(Build.QueuedTime)"
    git config --global user.mail"bymynynimonya@gmail.com"
    git config --global user.name "MAONLY2410"
    echo "Actualizaci칩n autom치tica" > changes.log
    git add changes.log

    git commit -m "Automatizado, toy joya [skip ci]" 
    git push origin HEAD:main
  displayName: "Hacer cambios y pushear"
